<div class="pagination-container">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link prenex" value="-1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item pgno">
        <a class="page-link" value="1">1</a>
      </li>
      <li class="page-item pgno">
        <a class="page-link" value="2">2</a>
      </li>
      <li class="page-item pgno">
        <a class="page-link" value="3">3</a>
      </li>
      <li class="page-item pgno">
        <a class="page-link" value="4">4</a>
      </li>
      <li class="page-item">
        <a class="page-link prenex" value="+1" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<script>
  let pgno = 1;
  let buttons = document.querySelectorAll(".pgno");
  let prenex = document.querySelectorAll(".prenex");

  buttons.forEach((button) => {
    button.addEventListener("click", function () {
      pgno = Number(button.textContent);
      updateUrl();
    });
  });

  prenex.forEach((button) => {
    button.addEventListener("click", function () {
      pgno += Number(button.getAttribute("value"));

      if (pgno <= 0) {
        pgno = 1;
      }
      if (pgno >= 4) {
        pgno = 4;
      }
      updateUrl();
    });
  });

  function updateUrl() {
    let currentUrl = window.location.href;
    let newUrl = currentUrl.split("?")[0] + "?page=" + pgno;
    // console.log("Updated URL:", newUrl);
    window.location.href = newUrl;
  }
</script>
